
<div class="grid grid-cols-1 grid-rows-2 gap-4 bg-gray-950">
  <div >1
    <div class="mx-12 my-1 rounded-2xl border-red-600">
      <div class="[text-shadow:_0_6px_4px_rgb(99_102_241_/_0.8)] text-gray-100 text-xl md:text-2xl leading-snug font-manrope font-extrabold lg:text-6xl flex justify-center px-4 py-2">Pizzeria</div>
    </div>

    <app-datos-cliente></app-datos-cliente>

  </div>
  <div >2 
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div >1

       <app-tabla-precio></app-tabla-precio> 

      </div>
      <div >2

        <app-ventas-acumuladas></app-ventas-acumuladas>

      </div>
    </div>
  </div>
</div>
<!-- <router-outlet/> -->
<!-- <app-pizzeria></app-pizzeria> -->
